@model DigiteonWeb.Models.EnrollDetails;
@{
    Layout = "_LayoutAllPage";
    ViewData["Title"] = Model.stCourseName;
}
<style type="text/css">
    .selectDrop {
        height: 70px;
        width: 100%;
        border: none;
        background: var(--thm-light);
        padding-left: 30px;
        padding-right: 60px;
        margin-bottom: 30px;
        border-radius: 0px;
        outline: none;
        font-size: 14px;
        color: var(--thm-gray);
        font-weight: 500;
        display: block;
    }
</style>
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>/</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="TrainingCalendar">Training Calendar</a></li>
                <li><span>/</span></li>
                <li>@Model.stCourseName</li>
            </ul>
            <h2>@Model.stCourseName</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Message Box Start-->
<section class="message-box">
    <div class="container">

        <section class="cases-details">
            <div class="container">
                @if (!string.IsNullOrEmpty(Model.stFileName))
                {
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="cases-details__img">
                                <img src="~/TrainingImages/@Model.stUnFileName" alt="">
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="cases-details__left">
                            <div class="cases-details__content">                               
                                <h2 class="cases-details__title">@Model.stCourseName</h2>
                                <p class="cases-details__text-1">@Model.stDescription</p>
                            </div>
                        </div>
                    </div>
                    @{
                        DateTime dtStartDate = Convert.ToDateTime(Model.dtStartDate);
                        DateTime dtEndDate = Convert.ToDateTime(Model.dtEndDate);
                    }
                    <div class="col-xl-4 col-lg-5">
                        <div class="cases-details__right">
                            <ul class="cases-details__right-list list-unstyled">
                                <li>
                                    <p>Start Date:</p>
                                    <span>@dtStartDate.ToString("MMM dd, yyyy").ToString()</span>
                                </li>
                                <li>
                                    <p>End Date</p>
                                    <span>@dtEndDate.ToString("MMM dd, yyyy").ToString()</span>
                                </li>
                                <li>
                                    <p>Location:</p>
                                    <span>@Model.stLocation</span>
                                </li>
                                <li>
                                    <p>Language:</p>
                                    <span>@Model.stLanguage</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-xl-12 col-lg-7">
                <div class="message-box__right">
                    <form asp-area="" asp-action="SaveEnroll" asp-controller="Home">
                        <h2>Participant information</h2>
                        <br />
                        <div class="row">
                            <input type="hidden" value="@Model.unTrainingId" asp-for="unTrainingId" />
                            <input type="hidden" value="@Model.stCourseName" asp-for="stCourseName" />
                            <div class="col-xl-6">
                                <span class="text-danger" asp-validation-for="stFirstName"></span>
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="First name" asp-for="stFirstName">
                                    <div class="comment-form__icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6">
                                <span class="text-danger" asp-validation-for="stLastName"></span>
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Last name" asp-for="stLastName">
                                    <div class="comment-form__icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <span class="text-danger" asp-validation-for="stEmail"></span>
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address" asp-for="stEmail">
                                    <div class="comment-form__icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <span class="text-danger" asp-validation-for="stMobile"></span>
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Mobile" asp-for="stMobile">
                                    <div class="comment-form__icon">
                                        <i class="far fa-mobile"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h2>Additional Information</h2>
                        <br />
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    @* <label>How did you hear about this training?</label>*@
                                    <select asp-for="stAboutThis" class="selectDrop">
                                        <option value="0" selected="">How did you hear about this training?</option>
                                        <option value="Internet search">Internet search</option>
                                        <option value="Digiteon websites">Digiteon websites</option>
                                        <option value="From a colleague or a friend">From a colleague or a friend</option>
                                        <option value="LinkedIn">LinkedIn</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Twitter">Twitter</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea placeholder="Greeting to Digiteon" asp-for="stAboutDigiteon"></textarea>
                                    <div class="comment-form__icon contact-expert__icon-comment">
                                        <i class="far fa-comment"></i>
                                    </div>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
