@model dynamic
@using PolarCastleWeb.Models

@if (Model.GetEnrollgList != null && Model.GetEnrollgList.Count > 0)
{
    foreach (EnrollResults loEnroll in Model.GetEnrollgList)
    {
        <tr>
            <td>@loEnroll.stFirstName @loEnroll.stLastName</td>
            <td>@loEnroll.stEmail</td>
            <td>@loEnroll.stMobile</td>
            @{
                DateTime dtCreateDate = Convert.ToDateTime(loEnroll.dtCreateDate);
            }
            <td>@dtCreateDate.ToString("dd-MMM-yyyy").ToString()</td>
            <td>@loEnroll.stAboutThis</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}
