@model dynamic
@using DigiteonWeb.Models

@if (Model.GetTrainingList != null && Model.GetTrainingList.Count > 0)
{
    foreach (TrainingResults loTraining in Model.GetTrainingList)
    {
        <tr>
            @{
                DateTime dtStartDate = Convert.ToDateTime(loTraining.dtStartDate);
            }
            <td>@dtStartDate.ToString("dd-MMM-yyyy").ToString()</td>
            @{
                DateTime dtEndDate = Convert.ToDateTime(loTraining.dtEndDate);
            }
            <td>@dtEndDate.ToString("dd-MMM-yyyy").ToString()</td>
            <td>@loTraining.stLocation</td>
            <td>@loTraining.stLanguage</td>
            <td>@loTraining.stCourseName</td>
            <td class="text-center">
                <a asp-area="Admin" asp-controller="Training" asp-action="Detail" asp-route-id="@loTraining.unTrainingId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-pencil-alt"></i> </a>
                &nbsp;
                <a asp-area="Admin" asp-controller="Training" asp-action="EnquiryList" asp-route-id="@loTraining.unTrainingId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-eye"></i> </a>
                &nbsp;
                <a asp-area="Admin" asp-controller="Training" asp-action="DeleteTraining" asp-route-id="@loTraining.unTrainingId" class="btn btn-outline-secondary btn-sm edit" onclick="return confirm('Are you sure you want to delete?');"><i class="fas fa-trash"></i> </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}
