@model dynamic
@using PolarCastleWeb.Models

@if (Model.GetCareerList != null && Model.GetCareerList.Count > 0)
{
    foreach (CareerListResult career in Model.GetCareerList)
    {
        <tr>
            <td>@career.stJobTitle</td>
            <td>@career.stJobCategory</td>
            <td>@career.stJobCode</td>
            <td>@career.stJobType</td>
            <td>@career.stSalary</td>
            @{
                DateTime dtStartDate = Convert.ToDateTime(career.dtStartDate);
            }
            <td>@dtStartDate.ToString("dd-MMM-yyyy").ToString()</td>


            <td class="text-center">
                <a asp-area="Admin" asp-controller="Career" asp-action="Detail" asp-route-id="@career.unCareerId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-pencil-alt"></i> </a>
                &nbsp;
                <a asp-area="Admin" asp-controller="Career" asp-action="DeleteCareer" asp-route-id="@career.unCareerId" class="btn btn-outline-secondary btn-sm edit" onclick="return confirm('Are you sure you want to delete?');"><i class="fas fa-trash"></i> </a>
                &nbsp;
                <a asp-area="Admin" asp-controller="Career" asp-action="CreerApplicationList" asp-route-id="@career.unCareerId" class="btn btn-outline-secondary btn-sm edit">Applicant List</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}
